### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
player_count = len(purchase_df.SN.unique())
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [41]:
unique_df = purchase_df["Item Name"].nunique()
avg_price_df = round(purchase_df["Price"].mean(), 2)
basic_calc_df = pd.DataFrame({"Unique Items":[unique_df], "Average Price":[avg_price_df]})
basic_calc_df

   Unique Items  Average Price
0           179           3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [45]:
gender_total = purchase_df["Gender"].count()
male = purchase_df.loc[purchase_df["Gender"] == "Male"]["SN"].nunique()
female = purchase_df.loc[purchase_df["Gender"] == "Female"]["SN"].nunique()
other = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed"]["SN"].nunique()

male_percent = round(male/gender_total, 2) * 100
female_percent = round(female/gender_total, 2) * 100
other_percent = round(other/gender_total, 2) * 100

gender_df = pd.DataFrame({"Gender":["Male", "Female", "Other / Non-Disclosed"], 
                          "Percentage of Players":[male_percent, female_percent, other_percent], 
                         "Total Count":[male, female, other]})
gender_df

#adds up to 576, player count

                  Gender  Percentage of Players  Total Count
0                   Male                   62.0          484
1                 Female                   10.0           81
2  Other / Non-Disclosed                    1.0           11

In [5]:
## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#by gender
gender_purchase_count = purchase_df.groupby("Gender")["Item Name"].count()
gender_purchase_count

gender_purchase_avg = purchase_df.groupby("Gender")["Price"].mean()
gender_purchase_avg

gender_purchase_total = purchase_df.groupby("Gender")["Price"].sum()
gender_purchase_total

gender_purchase_df = pd.DataFrame({"Purchase Count":gender_purchase_count, 
                                   "Average Purchase Price":gender_purchase_avg,
                                   "Total Purchase Value":gender_purchase_total})
gender_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
oldest = max(purchase_df.Age)
print(oldest)
youngest = min(purchase_df.Age)
print(youngest)
bins = [5, 10, 15, 20, 25, 30, 35, 40, 45]
age_ranges = [">10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_group = pd.cut(purchase_df["Age"], bins, labels=age_ranges)

45
7

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
purchase_df["Age Range"] = pd.cut(purchase_df["Age"], bins, labels= age_ranges)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [9]:
age_group_percentage_df = round(purchase_df["Age Range"].value_counts()/780,2) *100
age_group_percentage_df

20-24    42.0
15-19    26.0
25-29    10.0
10-14     7.0
30-34     7.0
35-39     4.0
>10       4.0
40+       1.0
Name: Age Range, dtype: float64

In [10]:
age_group_totals = purchase_df["Age Range"].value_counts()
age_group_totals.sort_values(ascending = True)

40+        7
>10       32
35-39     33
30-34     52
10-14     54
25-29     77
15-19    200
20-24    325
Name: Age Range, dtype: int64

In [11]:
age_purchase_count = purchase_df.groupby("Age Range")["Item Name"].count()
age_purchase_count

age_purchase_avg = purchase_df.groupby("Age Range")["Price"].mean()
age_purchase_avg

age_purchase_total = purchase_df.groupby("Age Range")["Price"].sum()
age_purchase_total

age_purchase_df = pd.DataFrame({"Purchase Count":age_purchase_count, 
                                   "Average Purchase Price":age_purchase_avg,
                                   "Total Purchase Value":age_purchase_total})
age_purchase_df

           Purchase Count  Average Purchase Price  Total Purchase Value
Age Range
>10                    32                3.405000                108.96
10-14                  54                2.900000                156.60
15-19                 200                3.107800                621.56
20-24                 325                3.020431                981.64
25-29                  77                2.875584                221.42
30-34                  52                2.994423                155.71
35-39                  33                3.404545                112.35
40+                     7                3.075714                 21.53

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame